/* Logo */
.navbar-custom {
    background-color: royalblue;
}
/* Fin logo */
/* Margenes */
.card{
    margin-right: 30px;
    margin-left: 120px;
}
/*  Fin Margenes */
/* Titulos de las recetas*/
.item-1{
    font-family: "Agency FB";
    color: red;
    text-align: center;
    text-transform: uppercase;
    font-size: 36px;
    letter-spacing: 2px;
    margin-bottom: 20px;
}
/* Fin titulos de las recetas*/
/* Margen, borde y sombreado de la imagen de referencia de las recetas*/
.item-2 {
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(134, 25, 224, 0.9);
    border-radius: 10px;
}
/* Fin Margen, borde y sombreado*/
/* Fuente de las Letras */
.contenedor{
    border: 2px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
    font-family: Arial, sans-serif;
}
/* Fin fuentes */
/* Título centrado */
.contenedor h2 {
    text-align: center;
    color: black;
}
/*  Fin Título centrado */
.pasos {
    list-style-type: none;
    padding: 0;
}

.pasos li {
    margin-bottom: 10px;
}

.pasos li:before {
    content: "•";
    color: red;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}


